doctype html
html
  head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    title 404 Page not found
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include menu
    h1 404 Page not found
    p The page could not be found
    