doctype html
html
	head
		meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	include menu
	p Use this form to register
	include message
	form(action='/register',method='post')
		p
			input(type='text',name='name',placeholder='Username')
		p
			input(type='password',name='pass',placeholder='Password')
		p
			input(type='submit',value='Register')
			